p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  background: rgba(255, 255, 255, 0.976);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.07);
  border-radius: 0px;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-list__logo {
  padding: 15px 0px 20px 0px;
  margin-right: 781px;
}

.header-list__item {
  margin-right: 34px;
}

.header-list__item:last-child {
  margin-right: 0px;
}

.header-list__link {
  padding: 21px 0px 25px 0px;
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  text-decoration: none;
}

.header-list__btn {
  padding: 9px 16px 10px 16px;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  background-color: #2164e1;
  color: var(--white-text-color);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
}

.clients {
  padding: 100px 0px 100px 0px;
}

.clients-list {
  display: flex;
  align-items: center;
}

.clients-list__item {
  margin-right: 57.5px;
}

.clients-list__item:last-child {
  margin-right: 0px;
}

.hero {
  padding: 216px 0px 100px 0px;
}

.hero-content {
  display: flex;
}

.hero-content__right {
  margin-left: 160px;
}

.hero__title {
  max-width: 370px;
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 45px;
  line-height: 1.25;
  letter-spacing: 0.99px;
  margin-bottom: 22px;
}

.hero__text {
  max-width: 440px;
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 21px;
  line-height: 1.5;
  letter-spacing: 0.231px;
  margin-bottom: 15px;
}

.hero-list {
  display: flex;
}

.hero-list__item {
  margin-right: 10px;
}

.hero-list__item:last-child {
  margin-right: 0px;
}

.hero-list__btn {
  padding: 9px 16px 10px 16px;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  background-color: #2164e1;
  color: var(--white-text-color);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
}

.hero-list__btn_green {
  background-color: #30b467;
}

.img-hero {
  position: relative;
}

.img-hero__icon-blue {
  position: absolute;
  top: 291px;
  left: 538px;
}

.img-hero__icon-orange {
  position: absolute;
  top: 95px;
  right: 457px;
  z-index: -1;
}

.benefits {
  padding: 91px 0px 80px 0px;
}

.benefits__title {
  min-width: 440px;
  font-weight: 700;
  font-size: 39px;
  line-height: 1.25;
  letter-spacing: 0.858px;
  color: var(--main-text-color);
  margin-bottom: 25px;
}

.benefits__title_yellow {
  color: #e1af2c;
}

.benefits__text {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.5;
  letter-spacing: 0.231px;
  color: var(--main-text-color);
  margin-bottom: 25px;
  margin-left: 9px;
}

.benefits-content {
  display: flex;
}

.benefits-content__left {
  margin-right: 231px;
}

.images-list {
  position: relative;
}

.images-list__item_1 {
  width: 480px;
  height: 300px;
  position: absolute;
  z-index: 2;
  top: 92px;
  left: 88px;
}

.images-list__item_2 {
  width: 480px;
  height: 300px;
  position: absolute;
  z-index: 1;
  top: 46px;
  left: 44px;
}

.images-list__item_3 {
  width: 480px;
  height: 300px;
  align-self: absolute;
}

.box {
  display: flex;
}

.box__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 100px;
  background-color: #f3f3f3;
  border-radius: 6px;
  margin-right: 10px;
}

.box__content:first-child {
  margin-left: 9px;
}

.box__content:last-child {
  margin-right: 0px;
}

.box__title {
  font-weight: 400;
  font-size: 27px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.405px;
  color: var(--main-text-color);
  margin-right: 3px;
}

.box__title:last-child {
  margin-right: 0px;
}

.box__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1.35px;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.components {
  padding: 90px 0px 80px 0px;
}

.components__title {
  margin-top: 45px;
  max-width: 439px;
  font-weight: 700;
  font-size: 39px;
  line-height: 1.25;
  letter-spacing: 0.858px;
  color: var(--main-text-color);
  margin-bottom: 22px;
}

.components__title_blue {
  color: #2164e1;
}

.components__text {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.5;
  letter-spacing: 0.231px;
  color: var(--main-text-color);
  margin-bottom: 25px;
}

.components-content {
  display: flex;
}

.components-content__left {
  margin-right: 157px;
}

.components-list {
  display: flex;
  flex-wrap: wrap;
}

.components-list__item {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.937;
  color: var(--main-text-color);
  background-color: #f3f3f3;
  padding: 0px 15px 0px 15px;
  border-radius: 999px;
  white-space: nowrap;
  margin-bottom: 10px;
  margin-right: 10px;
}

.components-list__item:nth-child(8) {
  margin-bottom: 0px;
}

.components-list__item:nth-child(9) {
  margin-bottom: 0px;
}

.components-list__item:last-child {
  margin-right: 0px;
}

.fast {
  padding: 182px 0px 128px 0px;
}

.fast .box__content:first-child {
  margin-left: 0px;
}

.fast__title {
  max-width: 437px;
  font-weight: 700;
  font-size: 39px;
  line-height: 1.15;
  letter-spacing: 0.858px;
  color: var(--main-text-color);
  margin-bottom: 21px;
}

.fast__title_green {
  color: #30b467;
  text-decoration: underline;
}

.fast__text {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.5;
  letter-spacing: 0.231px;
  color: var(--main-text-color);
  margin-bottom: 25px;
  max-width: 446px;
}

.fast-content {
  display: flex;
}

.fast-content__left {
  margin-right: 186px;
}

.fast-list {
  position: relative;
}

.fast-list__item_1 {
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 70px;
  bottom: 134px;
}

.fast-list__item_2 {
  width: 100%;
  position: absolute;
}

.create {
  padding-top: 120px;
  background-color: #241e38;
}

.create__first_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.57;
  letter-spacing: 0.231px;
  color: var(--white-text-color);
  margin-bottom: 18px;
}

.create__icon {
  position: relative;
  top: -12.22px;
  right: 4px;
}

.create__title {
  max-width: 771px;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.25;
  letter-spacing: 0.99px;
  text-align: center;
  color: var(--white-text-color);
  margin-bottom: 20px;
}

.create__title_purple {
  color: #6a4ed9;
}

.create__text {
  max-width: 754px;
  font-weight: normal;
  font-size: 21px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.231px;
  color: var(--white-text-color);
  margin-bottom: 31px;
}

.create__btn {
  padding: 14px 22px;
  background-color: #6a4ed9;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-text-color);
  margin-bottom: 110px;
}

.top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  padding: 162px 0px 39px 0px;
}

.center {
  display: flex;
  justify-content: center;
}

.swiper-slide:after {
  content: "";
  display: block;
  height: 1px;
  background: #cccccc;
  margin-top: 98px;
}

.swiper-button-prev,
.swiper-button-next {
  color: black;
}

.pricing {
  padding: 120px 0px 100px 0px;
}

.pricing__title {
  font-weight: 700;
  font-size: 63px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 1.386px;
  color: var(--main-text-color);
  margin-bottom: 32px;
}

.pricing__checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}

.pricing__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  color: var(--main-text-color);
}

.pricing__price {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.pricing__price::before {
  content: "$ ";
  position: relative;
  bottom: 17px;
  right: 1px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.pricing__price_month {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.pricing__save {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.084px;
  color: var(--main-text-color);
  margin-bottom: 20px;
}

.pricing__btn {
  padding: 9px 75px 10px 75px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  color: var(--whi);
}

.checkbox-ios {
  display: inline-block;
  height: 20px;
  line-height: 28px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  vertical-align: middle;
  font-size: 14px;
  user-select: none;
}

.checkbox-ios .checkbox-ios-switch {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 36px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 25%/50%;
  vertical-align: top;
  background-color: limegreen;
  transition: 0.2s;
  border: none;
}

.checkbox-ios .checkbox-ios-switch:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: white;
  transition: 0.15s;
}

.checkbox-ios input[type="checkbox"] {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox-ios input[type="checkbox"]:not(:disabled):active + .checkbox-ios-switch:before {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

.checkbox-ios input[type="checkbox"]:checked + .checkbox-ios-switch {
  background-color: #eee;
}

.checkbox-ios input[type="checkbox"]:checked + .checkbox-ios-switch:before {
  transform: translateX(16px);
}

.card__list {
  display: flex;
  justify-content: center;
}

.card__item {
  padding: 29px 39px 41px 39px;
  margin-right: 20px;
  border: 1px solid #dadada;
  border-radius: 8px;
}

.card__item:last-child {
  margin-right: 0px;
}

.card__title {
  font-weight: 700;
  font-size: 19px;
  line-height: 1;
  letter-spacing: 0.285px;
  color: var(--main-text-color);
  margin-bottom: 22px;
}

.compare-list__item {
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.37;
  color: var(--main-text-color);
}

.compare-list__item:last-child {
  margin-bottom: 43px;
}

:root {
  --main-text-color: #202020;
  --white-text-color: #ffffff;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  width: 1180px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
/*# sourceMappingURL=main.css.map */