.components {
  padding: 90px 0px 80px 0px;
  &__title {
    margin-top: 45px;
    max-width: 439px;
    font-weight: 700;
    font-size: 39px;
    line-height: 1.25;
    letter-spacing: 0.858px;

    color: var(--main-text-color);
    margin-bottom: 22px;
    &_blue {
      color: #2164e1;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 21px;
    line-height: 1.5;
    letter-spacing: 0.231px;
    color: var(--main-text-color);
    margin-bottom: 25px;
  }
}
.components-content {
  display: flex;
  &__left {
    margin-right: 157px;
  }
}
.components-list {
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.937;
    color: var(--main-text-color);
    background-color: #f3f3f3;
    padding: 0px 15px 0px 15px;
    border-radius: 999px;
    white-space: nowrap;
    margin-bottom: 10px;
    &:nth-child(8) {
      margin-bottom: 0px;
    }
    &:nth-child(9) {
      margin-bottom: 0px;
    }
    margin-right: 10px;
    &:last-child {
      margin-right: 0px;
    }
  }
}
