.pricing {
  padding: 120px 0px 100px 0px;
  &__title {
    font-weight: 700;
    font-size: 63px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 1.386px;

    color: var(--main-text-color);

    margin-bottom: 32px;
  }
  &__checkbox {
    display: flex;
    justify-content: center;

    margin-bottom: 64px;
  }
  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;

    color: var(--main-text-color);
  }
}

.checkbox-ios {
  display: inline-block;
  height: 20px;
  line-height: 28px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  vertical-align: middle;
  font-size: 14px;
  user-select: none;

  & .checkbox-ios-switch {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 36px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 25%/50%;
    vertical-align: top;
    background-color: limegreen;
    transition: 0.2s;
    border: none;
  }
  & .checkbox-ios-switch:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;

    transition: 0.15s;
  }
  & input[type="checkbox"] {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  & input[type="checkbox"]:not(:disabled):active + .checkbox-ios-switch:before {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  }
  & input[type="checkbox"]:checked + .checkbox-ios-switch {
    background-color: #eee;
  }
  & input[type="checkbox"]:checked + .checkbox-ios-switch:before {
    transform: translateX(16px);
  }
}

.card {
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    padding: 29px 39px 41px 39px;
    margin-right: 20px;
    border: 1px solid #dadada;
    border-radius: 8px;
    &:last-child {
      margin-right: 0px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 19px;
    line-height: 1;
    letter-spacing: 0.285px;
    color: var(--main-text-color);

    margin-bottom: 22px;
  }
}
